a:hover {
  color: #5bc2ce;
  text-decoration: none;
}

.text-wight {
  color: #fff !important;
}

.hide {
  display: none;
}

footer.text-999, footer .text-999 {
  color: #999;
}

footer ul li {
  padding: 2px;
  word-break: break-all;
}

.top-info {
  font-size: 12px;
  color: #666;
}

.mt-85 {
  margin-top: 85px;
}

.nav-warp {
  width: 100%;
  height: 85px;
  background-color: #fff;
  z-index: 99999;
}

.sub-title {
  font-size: 14px;
  color: #999;
}

.banner-warp {
  position: relative;
}

.banner-shadow {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.banner-shadow img {
  width: 100%;
}

.bg-img-warp {
  max-height: 158px;
  overflow: hidden;
  position: relative;
}

.bg-img-warp h3 {
  position: absolute;
  bottom: 20px;
  left: 0;
}

.navbar-light .navbar-nav {
  background-color: #fff;
  z-index: 1000;
}

.navbar-light .navbar-nav .nav-link {
  color: #666;
}

.navbar-light .navbar-nav .nav-item {
  position: relative;
}

.nav-line {
  position: absolute;
  bottom: 4px;
  left: 15px;
  display: inline-block;
  width: 20px;
  height: 3px;
  background-color: #3f94d4;
  transition: all 2s;
  display: none;
}

.navbar-nav li.active a, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #3f94d4 !important;
}

.navbar-nav li.active .nav-line, .navbar-light .navbar-nav .nav-item:hover .nav-line {
  display: inline-block;
}

.small-phone {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: #e42655;
}

.small-phone a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  color: #fff;
  text-decoration: none !important;
}

@media only screen and (max-width: 765px) {
  .small-hidden {
    display: none;
  }
  .small-pb {
    margin-bottom: 50px
  }
  .small-phone {
    display: block;
  }
  .nav-warp {
    min-height: 60px;
    height: auto;
  }
}

.product-warp ul li {
  list-style: none;
}

.friend-link {
  color: #ccc;
}

.friend-link a {
  color: #ddd;
}

.friend-link a:hover {
  color: #ea5526;
}

footer h5 {
  color: #d5dfe5
}

footer .title-line {
  height: 2px;
  width: 25px;
  background-color: #5bc2ce;
}

/* 客服 */

.customer {
  position: fixed;
  right: 0;
  top: 200px;
  width: auto;
  height: auto;
}

.open-customer {
  position: relative;
  width: 150px;
  transition: all 2s;
  border: 1px #ddd solid;
}

.customer .customer-close {
  position: absolute;
  top: -20px;
  right: 0;
  color: #ddd;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
  border: 1px #ddd solid;
  background-color: #fff;
}

.customer .img-warp {
  background-color: #fff;
}

.customer h6 {
  background-color: #e42655;
  color: #fff;
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  margin: 0;
}

.customer .customer-phone {
  font-size: 18px;
  color: #ea5526;
  text-align: center;
  font-weight: 700;
  background-color: #fff;
  padding-bottom: 14px;
  margin: 0;
}

.customer .customer-return {
  background-color: #ddd;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  margin: 0;
  transition: all 2s;
  padding: 4px 0;
}

.customer .close-customer {
  width: 22px;
  background: #ea5526;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
  color: #fff;
}

.item-group {
  margin: 20px 0;
}

.item-group h4 {
  font-weight: 400;
  position: relative;
  margin-bottom: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 20px;
}

.item-group h4::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 8px;
  height: 1px;
  width: 40px;
  background: #5bc2ce;
}

.item-group h4::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 12px;
  height: 1px;
  width: 20px;
  background: #5bc2ce;
}

.item-group ul li {
  padding: 6px 0;
  border-bottom: 1px solid #f6f6f6;
}

.item-group ul li a:hover {
  color: #5bc2ce;
  text-decoration: none !important;
}